* {
	box-sizing: border-box;
}
html {
	font-size: 20px;
}
body {
	max-width: 600px;
	padding: 20px;
	width: auto;
	margin: auto;
}
input {
	font-size: 20px;
	width: 100%;
	font-family: monospace;
	margin: 3px 0;
	padding: 5px;
	border-radius: 5px;
}
